In [152]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [153]:
df = pd.read_csv(r"C:\Users\arind\OneDrive\Desktop\Classes\T1 ESSEC Marketing Analytics\train.csv")
df.drop(['act_date','Unnamed: 0', 'calibration'],axis = 1,inplace=True)
df.set_index('contact_id',inplace=True) 
df.fillna('0', inplace=True)
df.head()

,donation,prefix_id,active,town,amount,act_type_id,payment_method_id,Last_Don
contact_id,,,,,,,,
452356,1,MME,1.0,VINDRY-SUR-TURDINE,25.0,DO,CH,14.2438
452606,0,MME,1.0,MARSEILLE,20.0,DO,CH,7.0329
456002,0,MME,1.0,BOUSSENAC,50.0,DO,CH,9.5096
460314,0,MMME,1.0,PERNES-LES FONTAINES,60.0,DO,CH,6.4164
460334,1,MMME,1.0,LE MESNIL-LE ROI,15.0,DO,CH,7.5726

In [154]:
# le = preprocessing.LabelEncoder()
# df['prefix_id'] = le.fit_transform(df.prefix_id.values)
# le = preprocessing.LabelEncoder()
# df['town'] = le.fit_transform(df.town.values)
# le = preprocessing.LabelEncoder()
# df['act_type_id'] = le.fit_transform(df.act_type_id.values)
# le = preprocessing.LabelEncoder()
# df['payment_method_id'] = le.fit_transform(df.payment_method_id.values)
df.head()

,donation,prefix_id,active,town,amount,act_type_id,payment_method_id,Last_Don
contact_id,,,,,,,,
452356,1,MME,1.0,VINDRY-SUR-TURDINE,25.0,DO,CH,14.2438
452606,0,MME,1.0,MARSEILLE,20.0,DO,CH,7.0329
456002,0,MME,1.0,BOUSSENAC,50.0,DO,CH,9.5096
460314,0,MMME,1.0,PERNES-LES FONTAINES,60.0,DO,CH,6.4164
460334,1,MMME,1.0,LE MESNIL-LE ROI,15.0,DO,CH,7.5726

In [155]:
X = df.drop('donation', axis = 1)
y = df['donation']
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.05, random_state=42)

In [156]:

# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
  
 # create regressor object
regressor = RandomForestRegressor()
  
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

ValueError: could not convert string to float: 'MMME'

In [143]:
pred = regressor.predict(X_test)

In [144]:
li = []
for x in pred:
    if x<.5:
        li.append(0)
    else : li.append(1)

In [145]:
print(X.shape)
len(li)

(39674, 7)

1984

In [146]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, li))

from sklearn.metrics import accuracy_score
accuracy_score(y_test, li)

[[1870    2]
 [ 112    0]]

0.9425403225806451

In [117]:
df2 = pd.read_csv(r"C:\Users\arind\OneDrive\Desktop\Classes\T1 ESSEC Marketing Analytics\test.csv")
df2.drop(['act_date','Unnamed: 0', 'calibration'],axis = 1,inplace=True)
df2.set_index('contact_id',inplace=True) 
df2.fillna('0', inplace=True)
df2.head()

,donation,prefix_id,active,town,amount,act_type_id,payment_method_id,Last_Don
contact_id,,,,,,,,
521019,0,MMME,1.0,TALENCE,40.0,DO,CH,15.4849
566567,0,MMME,1.0,THUE-ET-MUE,25.0,DO,CH,14.8712
566567,0,MMME,1.0,THUE-ET-MUE,30.0,DO,CH,16.3342
592539,0,MME,1.0,NIMES,50.0,DO,CH,15.0301
627963,0,MLLE,1.0,VICHY,25.0,DO,CH,10.9096

In [147]:
le = preprocessing.LabelEncoder()
df2['prefix_id'] = le.fit_transform(df2.prefix_id.values)
le = preprocessing.LabelEncoder()
df2['town'] = le.fit_transform(df2.town.values)
le = preprocessing.LabelEncoder()
df2['act_type_id'] = le.fit_transform(df2.act_type_id.values)
le = preprocessing.LabelEncoder()
df2['payment_method_id'] = le.fit_transform(df2.payment_method_id.values)
df2.head()

,donation,prefix_id,active,town,amount,act_type_id,payment_method_id,Last_Don
contact_id,,,,,,,,
521019,0,6,1.0,9826,40.0,1,3,15.4849
566567,0,6,1.0,9965,25.0,1,3,14.8712
566567,0,6,1.0,9965,30.0,1,3,16.3342
592539,0,5,1.0,6778,50.0,1,3,15.0301
627963,0,4,1.0,10514,25.0,1,3,10.9096

In [148]:
X = df2.drop('donation', axis = 1)

In [150]:
pred = regressor.predict(X)

In [151]:
pred

array([0.01      , 0.03      , 0.13      , ..., 0.00479481, 0.00479481,
       0.00479481])